.mainContent {
  margin-top: 80px;
}

.first-section {
  min-height: 100vh;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.logo-wrapper {
  position: absolute;
  bottom: -150px;
  animation: floatUp linear infinite;
}
@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-130vh);
  }
}
.logo-svg {
  width: 120px;
  opacity: 0.3;
  filter: blur(var(--blur));
  transform: scale(var(--scale)) rotate(var(--rotate));
}
.logo-svg.rotate {
  animation: spin 10s linear infinite;
}
@keyframes spin {
  from {
    transform: translateY(0) scale(var(--scale)) rotate(0deg);
  }
  to {
    transform: translateY(0) scale(var(--scale)) rotate(360deg);
  }
}
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.intro h1 {
  transition: all 0.3s ease;
  font-family: Knewave-Regular;
  color: var(--text-color-inner);
  -webkit-text-stroke: 2px var(--text-color-stroke);
}
.intro h1 .smiley {
  -webkit-text-stroke-width: 5px;
}

.second-section {
  min-height: 100vh;
  background-color: var(--background-color);
}