html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* DARK MODE EFFECT */
* {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}
/* Disabled */
:root {
    --bg-color: white;
    --text-color: black;
    --text-link-color: #1da1f2;
    --text-color-inner: white;
    --text-color-stroke: black;
    --title-bar-bg: black;

    --selection-bg-color: rgba(0, 0, 0, 0.25);

    --skill-card-border: 1px solid white;
    --skill-card-border-glow: black;
    --skill-card-shadow-glow: black;

    --image-invert-color: invert(0%);
}
/* Enabled */
body.dark {
    --bg-color: #121212;
    --text-color: white;
    --text-link-color: #6ec7ff;
    --text-color-inner: black;
    --text-color-stroke: white;
    --title-bar-bg: rgb(138, 138, 138);

    --selection-bg-color: rgba(158, 158, 158, 0.25);

    --skill-card-border: 1px solid black;
    --skill-card-border-glow: white;
    --skill-card-shadow-glow: #ccc;
    --hardware-skill-bg-color: rgba(0, 0, 0, 0.4);

    --image-invert-color: invert(95%);
}

/* Containers and contents that are affected */
body {
    background-color: var(--bg-color);
}
.titleBar {
    background-color: var(--title-bar-bg);
}
.skillCard {
    border: var(--skill-card-border);
}
.skillCard:hover {
    border-color: var(--skill-card-border-glow);
    box-shadow: var(--skill-card-shadow-glow);
}